In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import numpy as np
import re
import math

In [ ]:
df= pd.read_csv('glass10.csv')

In [ ]:
df2=df
df3=df

In [ ]:
df.shape

(930, 13)

In [ ]:
df['Job Title'].value_counts()

Machine Learning Engineer                                                        496
Machine Learning Intern                                                           62
Pre-Doctoral Researcher, University Graduate (Fixed-Term Contract) 2023 Start     31
.Net C# Developer for a Japanese company                                          31
Data Scientist - IT                                                               31
Python Machine Learning Engineer                                                  31
Machine learning Engineer                                                         31
Data Engineer, Machine Learning                                                   31
Jr./ Sr. Machine Learning Developer                                               31
Machine learning, Machine Engineer                                                31
Data Analyst                                                                      31
Machine Learning Engineer - Innovation Center Network                             31
Data Scientist/Machine Learning                                                   31
Machine Learning, Data Engineer                                                   31
Name: Job Title, dtype: int64

In [ ]:
df['Categories']=np.nan

In [ ]:
c=df['Job Title']
a='scientist'
b='science'
i=0

for rows in c:
    rows=rows.lower()
    if( a in rows or b in rows):
        df['Categories'][i]='Data Scientist'
    i=i+1

C:\Users\Kaveri\AppData\Local\Temp\ipykernel_15840\3014737064.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Categories'][i]='Data Scientist'

In [ ]:
df['Categories'].value_counts()

Data Scientist    62
Name: Categories, dtype: int64

In [ ]:
c=df['Job Title']
a='analytics'
b='analyst'
i=0

for rows in c:
    rows=rows.lower()
    if( b in rows or a in rows):
        if(type(df['Categories'][i])==float):
            df['Categories'][i]='Data Analyst'
    i=i+1

In [ ]:
c=df['Job Title']
a='engineer'
b='engineering'

i=0

for rows in c:
    rows=rows.lower()
    if( a in rows or b in rows ):
        df['Categories'][i]='Data Engineer'
    i=i+1

In [ ]:
c=df['Job Title']
a='developer'
i=0

for rows in c:
    rows=rows.lower()
    if( a in rows  ):
        if(type(df['Categories'][i])==float):
            df['Categories'][i]='Developer'
    i=i+1

In [ ]:
c=df['Job Title']
a='architect'
i=0

for rows in c:
    rows=rows.lower()
    if( a in rows  ):
        if(type(df['Categories'][i])==float):
            df['Categories'][i]='Architect'

    i=i+1

In [ ]:
c=df['Job Title']
a='consultant'
i=0

for rows in c:
    rows=rows.lower()
    if( a in rows  ):
        if(type(df['Categories'][i])==float):
            df['Categories'][i]='Consultant'

    i=i+1

In [ ]:
c=df['Job Title']

b='deep learning'
i=0

for rows in c:
    rows=rows.lower()
    if( b in rows ):
        df['Categories'][i]='AI Specialist'

    i=i+1

In [ ]:
c=df['Job Title']

b='nlp'
i=0

for rows in c:
    rows=rows.lower()
    if( b in rows ):
        df['Categories'][i]='AI Specialist'

    i=i+1

In [ ]:
c=df['Job Title']
a='artificial intelligence'
b='ai'
i=0

for rows in c:
    rows=rows.lower()
    if( a in rows or b in rows ):
        df['Categories'][i]='AI Specialist'

    i=i+1

In [ ]:
c=df['Job Title']
a='machine learning'
b='ml'

i=0

for rows in c:
    rows=rows.lower()

    if( a in rows or b in rows  ):
        df['Categories'][i]='AI Specialist'

    i=i+1

In [ ]:
c=df['Job Title']
a='statistical'
b='biostatistician'

i=0

for rows in c:
    rows=rows.lower()

    if( a in rows or b in rows  ):
        if(type(df['Categories'][i])==float):
            df['Categories'][i]='Statiticians/Research'

    i=i+1

In [ ]:
c=df['Job Title']
a='research'


i=0

for rows in c:
    rows=rows.lower()

    if( a in rows or b in rows  ):
        if(type(df['Categories'][i])==float):
            df['Categories'][i]='Statiticians/Research'

    i=i+1

In [ ]:
c=df['Job Title']
a='big data'
i=0

for rows in c:
    rows=rows.lower()
    if( a in rows  ):
        df['Categories'][i]='Big Data Analyst'

    i=i+1

In [ ]:
c=df['Job Title']
a='warehousing'
i=0

for rows in c:
    rows=rows.lower()
    if( a in rows  ):
        df['Categories'][i]='AI Specialist'

    i=i+1

In [ ]:
c=df['Job Title']
a='data'
i=0

for rows in c:

    rows=rows.lower()

    if( a in rows  ):
        if(type(df['Categories'][i])==float):
            df['Categories'][i]='Data Base Management'

    i=i+1

In [ ]:
c=df['Job Title']
a='dba'
i=0

for rows in c:

    rows=rows.lower()

    if( a in rows  ):
        if(type(df['Categories'][i])==float):
            df['Categories'][i]='Data Base Management'

    i=i+1

In [ ]:
c=df['Job Title']
a='kafka'
b='pyspark'
c='spark'
i=0

for rows in c:

    rows=rows.lower()

    if( a in rows  ):
        df['Categories'][i]='Big Data Analyst'

    i=i+1

In [ ]:
c=df['Job Title']
a='business'
i=0

for rows in c:

    rows=rows.lower()

    if( a in rows  ):
        if(type(df['Categories'][i])==float):
            df['Categories'][i]='Business Analytics'

    i=i+1

In [ ]:
c=df['Categories']

i=0

for rows in c:
    if(type(rows)==float):
        df.drop(i,inplace=True)



    i=i+1

In [ ]:
df

,Unnamed: 0.1,Unnamed: 0,Company Name,Job Title,Job Tocation,Ratings,salary_period,Average,Job Description,Years of Experience,Location,Job Type,Level,Categories
0,0,0,Google,"Pre-Doctoral Researcher, University Graduate (...",Bangalore,4.5,year,4.0,To start the application process you will n...,2.0,Bangalore,Full time,Mid,Statiticians/Research
1,1,1,Procter & Gamble,.Net C# Developer for a Japanese company,Remote,None,year,21.5,About Andaze Japan Our main business is c...,NaN,Remote,Full time,Mid,Developer
2,2,2,Andaze Japan Ltd.,Data Scientist - IT,Mumbai,4.2,month,8.0,Job Location Mumbai Job De...,6.0,Mumbai,Full time,Mid,Data Scientist
3,3,3,XIRCLS,Machine Learning Engineer,Mumbai,None,year,11.0,This job is for final year students fresher...,3.0,Mumbai,Full time,Mid,AI Specialist
4,4,4,Finarkein Analytics Pvt. Ltd.,Machine Learning Engineer,Pune,None,year,2.0,We are looking for a passionate Machine Lear...,1.0,Pune,Full time,Mid,AI Specialist
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
925,925,925,SAP,Machine Learning Engineer - Innovation Center ...,Bangalore,None,year,21.5,What we offer\nOur company culture is focuse...,NaN,Bangalore,Full time,Mid,AI Specialist
926,926,926,NeuranceAI Technologies Private Limited,Machine Learning Engineer,Bangalore,4.2,month,8.0,Eligibility Criteria 2 5 yrs of proven ex...,NaN,Bangalore,Full time,Mid,AI Specialist
927,927,927,Alpha Net Consulting,Data Scientist/Machine Learning,India,None,year,11.0,Data Scientist\nPermanant WFH\nStrong fu...,NaN,India,Full time,Mid,AI Specialist
928,928,928,Predictive Research,"Machine Learning, Data Engineer",Bangalore,3.7,year,2.0,BE B tech Computer science Only no other ...,NaN,Bangalore,Full time,Mid,AI Specialist
929,929,929,INKRONIX,Machine Learning Intern,New Delhi,None,year,2.0,We are hiring interns for machine learning ...,NaN,New Delhi,Part Time,Entry,AI Specialist

In [ ]:
df=df.drop('Unnamed: 0',axis=1)

In [ ]:
df.to_csv('abc.csv')

In [ ]:
df['Level']=np.nan

In [ ]:
df['Job Title'].value_counts()

Data Scientist                                         370
Data Analyst                                           180
Business Analyst                                        82
Data scientist                                          65
Data Science Intern                                     64
                                                      ...
Senior Engineer, Automation Development Engineering      1
Software Engineer 2                                      1
Sr Analyst                                               1
Sr Analyst ACE                                           1
Supply Chain Network Data & Analytics Specialist         1
Name: Job Title, Length: 1253, dtype: int64

In [ ]:
df.shape

(3628, 12)

In [ ]:
df['Level'].value_counts()

Advance    348
Name: Level, dtype: int64

In [ ]:
len(df['Job Title'])

3593

In [ ]:
type(df['Level'][0])

numpy.float64

In [ ]:
c=df['Job Title']
z=0

for rows in c:
    rows=rows.lower()
    a='senior'
    if(a in rows ):
        df.loc[z,'Level']='Advance'



    z=z+1

In [ ]:
df

,Unnamed: 0,Company Name,Job Title,salary_period,Average,Job Description,Years of Experience,Location,Job Type,Rating,Categories,Level
0,0.0,Larsen & Toubro Infotech Limited,Data Science,year,6.5,Job Location Mumbai Job Descripti...,NaN,Mumbai,Full time,3.8,Data Scientist,NaN
1,1.0,Deloitte,Senior Analyst- Research & Insights- Data Scie...,year,6.5,Job Location Bhopal Job Descripti...,NaN,Hyderābād,Full time,4.1,Data Scientist,Advance
2,2.0,Flairmid Software Pvt Ltd,Junior Data Scientist,year,2.0,Job Location Katha Baddi Job Desc...,1.0,Pune,Full time,4.2,Data Scientist,NaN
3,3.0,Shell,Associate Data Scientist,year,15.0,At Boeing we innovate and collaborate t...,NaN,Chennai,Full time,4.1,Data Scientist,NaN
4,4.0,Brimming Grace Capital Pvt Ltd,Data Scientist Intern,year,11.0,Our client Successful SA technology group is...,5.0,Gurgaon,Part time,4.2,Data Scientist,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Advance
2359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Advance
2435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Advance
2567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Advance
2606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Advance

In [ ]:
c=df['Job Title']
z=0

for rows in c:
    rows=rows.lower()
    a='sr'
    if(a in rows ):
        df.loc[z,'Level']='Advance'



    z=z+1

AttributeError: 'float' object has no attribute 'lower'

In [ ]:
c=df['Job Title']
z=0

for rows in c:
    rows=rows.lower()
    a='senior'
    b='sr'
    c='chief'
    d='dir'
    e='director'
    f='jr'
    g='junior'
    h='intern'
    i='internship'
    j='trainee'
    k='trainer'
    l='associate'
    m='fresh'
    n='fresher'
    if(a in rows or b in rows or c in rows or d in rows or e in rows):
        df['Level'][z]='Advanced'
    elif(f in rows or g in rows or h in rows or i in rows or j in rows or k in rows or l in rows or m in rows or n in rows):
        df['Level'][z]='Entry'
    else:
        df['Level'][z]='Mid'
    z=z+1

C:\Users\Kaveri\AppData\Local\Temp\ipykernel_35528\3505097531.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Level'][z]='Mid'
C:\Users\Kaveri\AppData\Local\Temp\ipykernel_35528\3505097531.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Level'][z]='Advanced'
C:\Users\Kaveri\AppData\Local\Temp\ipykernel_35528\3505097531.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Level'][z]='Entry'
C:\Users\Kaveri\AppData\Local\Temp\ipykernel_35528\3505097531.py:21: FutureWarning: Treating integers as positional in Series.__setitem__ with a Float64Index is deprecated. In a future version, `series[an_int] = val` will insert a new key into the Series. Use `series.iloc[an_int] = val` to treat the key as positional.
  df['Level'][z]='Advanced'
C:\Users\Kaveri\AppData\Local\Temp\ipykernel_35528\3505097531.py:23: FutureWarning: Treating integers as positional in Series.__setitem__ with a Float64Index is deprecated. In a future version, `series[an_int] = val` will insert a new key into the Series. Use `series.iloc[an_int] = val` to treat the key as positional.
  df['Level'][z]='Entry'
C:\Users\Kaveri\AppData\Local\Temp\ipykernel_35528\3505097531.py:25: FutureWarning: Treating integers as positional in Series.__setitem__ with a Float64Index is deprecated. In a future version, `series[an_int] = val` will insert a new key into the Series. Use `series.iloc[an_int] = val` to treat the key as positional.
  df['Level'][z]='Mid'

AttributeError: 'float' object has no attribute 'lower'

In [ ]:
df['Level'].value_counts()

Mid    1
Name: Level, dtype: int64

In [ ]:
df.isna().sum()

Unnamed: 0                0
Company Name              0
Job Title                 0
salary_period          1658
Average                1658
Job Description           0
Years of Experience    2031
Location                123
Job Type                  0
Rating                    0
Categories                0
Level                   139
dtype: int64

In [ ]:
c=df['Level']

i=0
k=0
for rows in c:
    if(type(rows)==np.float64):
        print(df['Job Title'][i])
        k=k+1


    i=i+1
print(k)

0