In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import numpy as np
import re
import random

In [ ]:
df3= pd.read_csv('white4.csv')

In [ ]:
df3.head()

,Unnamed: 0.1,Unnamed: 0,Company Name,Job Title,Ratings,Job Description,Years of Experience,Location,Job Type,Level,Categories,Salary
0,0,0,Google,"Pre-Doctoral Researcher, University Graduate (...",4.5,To start the application process you will n...,2.0,Bangalore,Full time,Mid,Statiticians/Research,4.00
1,1,1,Procter & Gamble,.Net C# Developer for a Japanese company,NaN,About Andaze Japan Our main business is c...,3.0,Remote,Full time,Mid,Developer,21.50
2,2,2,Andaze Japan Ltd.,Data Scientist - IT,4.2,Job Location Mumbai Job De...,2.0,Mumbai,Full time,Mid,Data Scientist,0.96
3,3,3,XIRCLS,Machine Learning Engineer,NaN,This job is for final year students fresher...,2.0,Mumbai,Full time,Mid,AI Specialist,11.00
4,4,4,Finarkein Analytics Pvt. Ltd.,Machine Learning Engineer,NaN,We are looking for a passionate Machine Lear...,5.0,Pune,Full time,Mid,AI Specialist,2.00

In [ ]:
import random
c=df3['Level']
i=0
for rows in c:
    if(rows=='Advance'):
        df3['Years of Experience'][i]=random.randint(5, 10)
    i=i+1

C:\Users\Kaveri\AppData\Local\Temp\ipykernel_33964\290516164.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Years of Experience'][i]=random.randint(5, 10)

In [ ]:
import random
c=df3['Level']
i=0
for rows in c:
    if(rows=='Mid'):
        df3['Years of Experience'][i]=random.randint(2, 5)
    i=i+1

C:\Users\Kaveri\AppData\Local\Temp\ipykernel_12136\2299986718.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Years of Experience'][i]=random.randint(2, 5)

In [ ]:
import random
c=df3['Level']
i=0
for rows in c:
    if(rows=='Entry'):
        df3['Years of Experience'][i]=random.randint(0,1)
    i=i+1

C:\Users\Kaveri\AppData\Local\Temp\ipykernel_12136\761358447.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Years of Experience'][i]=random.randint(0,1)

In [ ]:
df3.replace('None', np.nan)

,Unnamed: 0,Company Name,Job Title,Ratings,salary_period,Average,Job Description,Years of Experience,Location,Job Type,Level,Categories
0,0,Google,"Pre-Doctoral Researcher, University Graduate (...",4.5,year,4.0,To start the application process you will n...,2.0,Bangalore,Full time,Mid,Statiticians/Research
1,1,Procter & Gamble,.Net C# Developer for a Japanese company,NaN,year,21.5,About Andaze Japan Our main business is c...,3.0,Remote,Full time,Mid,Developer
2,2,Andaze Japan Ltd.,Data Scientist - IT,4.2,month,8.0,Job Location Mumbai Job De...,2.0,Mumbai,Full time,Mid,Data Scientist
3,3,XIRCLS,Machine Learning Engineer,NaN,year,11.0,This job is for final year students fresher...,2.0,Mumbai,Full time,Mid,AI Specialist
4,4,Finarkein Analytics Pvt. Ltd.,Machine Learning Engineer,NaN,year,2.0,We are looking for a passionate Machine Lear...,5.0,Pune,Full time,Mid,AI Specialist
...,...,...,...,...,...,...,...,...,...,...,...,...
4118,3190,Aliqan Technologies,Machine Learning Engineer,3.9,year,1625000.0,Title Machine Learning Engineer Department Del...,2.0,Bangalore,Full time,Mid,AI Specialist
4119,3191,Optum,Director Data Science,3.4,NaN,NaN,Lead the engagement and delivery of analyt...,8.0,"Pune,",Full time,Advance,Data Scientist
4120,3192,Full Potential Solutions,Manager - Analytics & Reporting,3.9,NaN,NaN,Overview: About The Company Full Potent...,5.0,Noida,Full time,Mid,Data Analyst
4121,3193,Wise Monk,Data Scientist,3.9,NaN,NaN,Job Description 1 Innovation and resear...,4.0,"Bengaluru,",Full time,Mid,Data Scientist
4122,3194,Genpact,DG-Assistant Manager - Data Scientist,3.8,NaN,NaN,With a startup spirit and 90 000 curious ...,0.0,"Mumbai,",Full time,Entry,Data Scientist

In [ ]:
df3.isna().sum()

Unnamed: 0                0
Company Name              0
Job Title                 0
Ratings                   0
salary_period          1352
Average                1352
Job Description           0
Years of Experience       0
Location                  0
Job Type                  0
Level                     0
Categories                0
dtype: int64

In [ ]:
df3['Salary']=np.nan

In [ ]:
df3.to_csv('red.csv')

In [ ]:
c=df3['salary_period']
i=0
for rows in c:
    if( rows =='year'):
        if(df3['Average'][i]>100):

            df3['Salary'][i]=(df3['Average'][i]/100000)



    i=i+1

C:\Users\Kaveri\AppData\Local\Temp\ipykernel_12136\2830108769.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Salary'][i]=(df3['Average'][i]/100000)

In [ ]:
c=df3['salary_period']
i=0
for rows in c:
    if( rows =='month'):
        if(df3['Average'][i]>100):
            df3['Salary'][i]=(df3['Average'][i]*12)/100000




    i=i+1

C:\Users\Kaveri\AppData\Local\Temp\ipykernel_12136\1437115630.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Salary'][i]=(df3['Average'][i]*12)/100000

In [ ]:
c=df3['salary_period']
i=0
for rows in c:
    if( rows =='month'):
        if(df3['Average'][i]<100):
            df3['Salary'][i]=(df3['Average'][i]*0.12)




    i=i+1

C:\Users\Kaveri\AppData\Local\Temp\ipykernel_12136\4218379358.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Salary'][i]=(df3['Average'][i]*0.12)

In [ ]:
c=df3['salary_period']
i=0
for rows in c:
    if( rows =='hour'):
        df3['Salary'][i]=(df3['Average'][i]*0.0288)




    i=i+1

C:\Users\Kaveri\AppData\Local\Temp\ipykernel_12136\3753952091.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Salary'][i]=(df3['Average'][i]*0.0288)

In [ ]:

df3=df3.drop('Unnamed: 0',axis=1)

In [ ]:
df3.to_csv('Proj.csv')