In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import numpy as np
import re
import math

In [ ]:
df= pd.read_csv('Edit.csv')

In [ ]:
df2=df
df3=df

In [ ]:
df.shape

(3593, 12)

In [ ]:
df['Level']=np.nan

In [ ]:
df['Level'].value_counts()

Series([], Name: Level, dtype: int64)

In [ ]:
c=df['Job Title']
z=0

for rows in c:
    rows=rows.lower()
    a='senior'
    if(a in rows ):
        df['Level'][z]='Advance'



    z=z+1

C:\Users\Kaveri\AppData\Local\Temp\ipykernel_22120\1313492720.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Level'][z]='Advance'

In [ ]:
c=df['Job Title']
z=0

for rows in c:
    rows=rows.lower()
    a='sr'
    if(a in rows ):
        df['Level'][z]='Advance'



    z=z+1

In [ ]:
c=df['Job Title']
z=0

for rows in c:
    rows=rows.lower()
    a='chief'
    if(a in rows ):
        df['Level'][z]='Advance'



    z=z+1

In [ ]:
c=df['Job Title']
z=0

for rows in c:
    rows=rows.lower()
    a='dir'
    if(a in rows ):
        df['Level'][z]='Advance'



    z=z+1

In [ ]:
c=df['Job Title']
z=0

for rows in c:
    rows=rows.lower()
    a='director'
    if(a in rows ):
        df['Level'][z]='Advance'



    z=z+1

In [ ]:
c=df['Job Title']
z=0

for rows in c:
    rows=rows.lower()
    a='principal'
    if(a in rows ):
        df['Level'][z]='Advance'



    z=z+1

In [ ]:
c=df['Job Title']
z=0

for rows in c:
    rows=rows.lower()
    a='lead'
    if(a in rows ):
        df['Level'][z]='Advance'



    z=z+1

In [ ]:
c=df['Job Title']
z=0

for rows in c:
    rows=rows.lower()
    a='associate'
    if(a in rows ):
        df['Level'][z]='Entry'



    z=z+1

In [ ]:
c=df['Job Title']
z=0

for rows in c:
    rows=rows.lower()
    a='intern'
    if(a in rows ):
        df['Level'][z]='Entry'



    z=z+1

In [ ]:
c=df['Job Title']
z=0

for rows in c:
    rows=rows.lower()
    a='internship'
    if(a in rows ):
        df['Level'][z]='Entry'



    z=z+1

In [ ]:
c=df['Job Title']
z=0

for rows in c:
    rows=rows.lower()
    a='fresh'
    if(a in rows ):
        df['Level'][z]='Entry'



    z=z+1

In [ ]:
c=df['Job Title']
z=0

for rows in c:
    rows=rows.lower()
    a='fresher'
    if(a in rows ):
        df['Level'][z]='Entry'



    z=z+1

In [ ]:
c=df['Job Title']
z=0

for rows in c:
    rows=rows.lower()
    a='jr'
    if(a in rows ):
        df['Level'][z]='Entry'



    z=z+1

In [ ]:
c=df['Job Title']
z=0

for rows in c:
    rows=rows.lower()
    a='junior'
    if(a in rows ):
        df['Level'][z]='Entry'



    z=z+1

In [ ]:
c=df['Job Title']
z=0

for rows in c:
    rows=rows.lower()
    a='trainee'
    if(a in rows ):
        df['Level'][z]='Entry'



    z=z+1

In [ ]:
c=df['Job Title']
z=0

for rows in c:
    rows=rows.lower()
    a='trainer'
    if(a in rows ):
        df['Level'][z]='Entry'



    z=z+1

In [ ]:
c=df['Job Title']
z=0

for rows in c:
    rows=rows.lower()
    a='assistant'
    if(a in rows ):
        df['Level'][z]='Entry'



    z=z+1

In [ ]:
c=df['Job Title']
z=0

for rows in c:
    rows=rows.lower()

    if(type(df['Level'][z] )== float):
        df['Level'][z]='Mid'



    z=z+1

In [ ]:
df.isna().sum()

Unnamed: 0.1              0
Unnamed: 0                0
Company Name              0
Job Title                 0
salary_period          1658
Average                1658
Job Description           0
Years of Experience    2031
Location                123
Job Type                  0
Rating                    0
Categories                0
Level                     0
dtype: int64

In [ ]:
df.to_csv('Edit2.csv')

,Unnamed: 0.1,Unnamed: 0,Company Name,Job Title,salary_period,Average,Job Description,Years of Experience,Location,Job Type,Rating,Categories,Level
0,0,0,Larsen & Toubro Infotech Limited,Data Science,year,6.5,Job Location Mumbai Job Descripti...,NaN,Mumbai,Full time,3.8,Data Scientist,Mid
1,1,1,Deloitte,Senior Analyst- Research & Insights- Data Scie...,year,6.5,Job Location Bhopal Job Descripti...,NaN,Hyderābād,Full time,4.1,Data Scientist,Advance
2,2,2,Flairmid Software Pvt Ltd,Junior Data Scientist,year,2.0,Job Location Katha Baddi Job Desc...,1.0,Pune,Full time,4.2,Data Scientist,Entry
3,3,3,Shell,Associate Data Scientist,year,15.0,At Boeing we innovate and collaborate t...,NaN,Chennai,Full time,4.1,Data Scientist,Entry
4,4,4,Brimming Grace Capital Pvt Ltd,Data Scientist Intern,year,11.0,Our client Successful SA technology group is...,5.0,Gurgaon,Part time,4.2,Data Scientist,Entry
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3588,3728,1899,sharechat,Lead Machine Learning Engineer,NaN,NaN,Machine Learning Engineer ML Platform Th...,NaN,"Temporarily Remote in Bengaluru, Karnataka",Full time,3.8,AI Specialist,Advance
3589,3729,1900,Accord Consultants,Data Scientist,NaN,NaN,We are looking for a rare hybrid: a statistic...,NaN,"Pune, Maharashtra",Full time,4.8,Data Scientist,Mid
3590,3730,1901,Barclays,"Director, Operational Risk Reporting & Data An...",NaN,NaN,Job Title: Director Operational Risk...,NaN,"Noida, Uttar Pradesh",Full time,3.9,Data Analyst,Advance
3591,3731,1902,Diageo,Manager- Machine Learning Engineer,NaN,NaN,Job Description : Bachelor’s degree B ...,NaN,"Bengaluru, Karnataka",Full time,4.0,AI Specialist,Mid
3592,3732,1903,Colgate-Palmolive,Supply Chain Network Data & Analytics Specialist,NaN,NaN,Relocation Assistance Offered Within Country ...,NaN,"Mumbai, Maharashtra",Full time,4.3,AI Specialist,Mid